    /*
    Flaticon icon font: Flaticon
    Creation date: 23/05/2019 07:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-right-arrow:before { content: "\f100"; }
.flaticon-last-track-left-arrow:before { content: "\f101"; }
.flaticon-facebook-logo:before { content: "\f102"; }
.flaticon-twitter-logo-silhouette:before { content: "\f103"; }
.flaticon-google-plus-logo:before { content: "\f104"; }
.flaticon-telephone:before { content: "\f105"; }
.flaticon-email:before { content: "\f106"; }
.flaticon-placeholder:before { content: "\f107"; }
.flaticon-mobile-phone:before { content: "\f108"; }
.flaticon-maps-and-flags:before { content: "\f109"; }
.flaticon-mail:before { content: "\f10a"; }
.flaticon-shovel:before { content: "\f10b"; }
.flaticon-wheelbarrow:before { content: "\f10c"; }
.flaticon-sprinkler:before { content: "\f10d"; }
.flaticon-dalia:before { content: "\f10e"; }
.flaticon-left-quote:before { content: "\f10f"; }
.flaticon-right-quotation-sign:before { content: "\f110"; }
.flaticon-internet:before { content: "\f111"; }
.flaticon-placeholder-filled-point:before { content: "\f112"; }
.flaticon-old-typical-phone:before { content: "\f113"; }
.flaticon-global:before { content: "\f114"; }
    
    $font-Flaticon-right-arrow: "\f100";
    $font-Flaticon-last-track-left-arrow: "\f101";
    $font-Flaticon-facebook-logo: "\f102";
    $font-Flaticon-twitter-logo-silhouette: "\f103";
    $font-Flaticon-google-plus-logo: "\f104";
    $font-Flaticon-telephone: "\f105";
    $font-Flaticon-email: "\f106";
    $font-Flaticon-placeholder: "\f107";
    $font-Flaticon-mobile-phone: "\f108";
    $font-Flaticon-maps-and-flags: "\f109";
    $font-Flaticon-mail: "\f10a";
    $font-Flaticon-shovel: "\f10b";
    $font-Flaticon-wheelbarrow: "\f10c";
    $font-Flaticon-sprinkler: "\f10d";
    $font-Flaticon-dalia: "\f10e";
    $font-Flaticon-left-quote: "\f10f";
    $font-Flaticon-right-quotation-sign: "\f110";
    $font-Flaticon-internet: "\f111";
    $font-Flaticon-placeholder-filled-point: "\f112";
    $font-Flaticon-old-typical-phone: "\f113";
    $font-Flaticon-global: "\f114";